<section id="consulting-services" class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Consulting Services</h2>
            <h3 class="section-subheading text-muted">Latest technologies wielded expertly and presented effectively</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
            <h4 class="service-heading">Scale teams</h4>
            <p class="text-muted">New budget; start hiring!</p>
            <ul>
                <li>Setup quality standards</li>
                <li>Integrate enterprise technologies</li>
                <li>Approach new architectures, systems, procedures and strategies</li>
                <li>Job boards and interview tests</li>
            </ul>
        </div>
        <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
                </span>
            <h4 class="service-heading">Cloud strategy</h4>
            <p class="text-muted">Jump on the bandwagon:</p>
            <ul>
                <li>Short-to-long term comparative cost estimations</li>
                <li>Risk analysis</li>
                <li>Presentation on dis/advantages</li>
                <li>Cloud comparisons: public, private & hybrid</li>
            </ul>
        </div>
        <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
                </span>
            <h4 class="service-heading">Greenfield</h4>
            <p class="text-muted">Enterprise software that scales</p>
            <ul>
                <li>CMS, social, eCommerce, ERP</li>
                <li>Natural Language Processing (NLP)</li>
                <li>Machine Learning (ML)</li>
                <li>Distributed polling, logging, event systems</li>
                <li>Legacy clean rewrites</li>
            </ul>
        </div>
    </div>
</section>
