<section id="consulting-services" class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Consulting Services</h2>
            <h3 class="section-subheading text-muted">Latest technologies wielded expertly and presented
                effectively</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Business Performance Monitoring</h4>
            <p class="text-muted">Get organisation wide financial visibility</p>
            <p>Gain real time financial performance visibility throughout all levels of the organisation. Enabling users
                to drill down to view and monitor any single or collective financial metric.</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Process Automation</h4>
            <p class="text-muted">Improve operational efficiency</p>
            <p>Offscale develops tailored process automation software solutions, using the latest in artificial
                intelligence and machine learning technology, that will reduce costs and improve efficiency.</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="img/business-intelligence.png" alt="multicloud image">
            </span>
            <h4 class="service-heading">Business Intelligence</h4>
            <p class="text-muted">Improve business decision making</p>
            <p>We offer technologies solutions that transform raw data into meaningful and useful information used to
                enable more effective strategic, tactical, operational insights and decision-making.</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">elearning</h4>
            <p class="text-muted">MOOCs, LMS, and mobile learning</p>
            <p>Setup platforms + run courses for University of Sydney / Sydney Medical School / Sydney Eye Hospital.
                Can run yours too!</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">DevOps / NoOps</h4>
            <p class="text-muted">Tooling, cloud ecosystems and infrastructure</p>
            <p>Automating operations and upskilling software-developers with the understanding and confidence to scale
                their solutions.</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Software engineering</h4>
            <p class="text-muted">Enterprise software that scales</p>
            <p>Offscale develops custom software applications and systems using the latest: technologies, programming
                languages and approaches to create truly scalable solutions.</p>
        </div>
    </div>
</section>
