<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#contact">offscale.io</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li id="Cconsulting-services">
                    <a class="page-scroll" href="#consulting-services"
                       onclick="scrollToId('consulting-services', -100)">Consulting</a>
                </li>
                <li id="Cplatform-offerings">
                    <a class="page-scroll" href="#platform-offerings"
                       onclick="scrollToId('platform-offerings', -100)">Platform</a>
                </li>
                <!--<li id="Cblog">
                    <a class="page-scroll" href="#blog"
                       onclick="scrollToId('blog', -100)">Blog</a>
                </li>-->
                <li id="Contact">
                    <a class="page-scroll" href="#contact"
                       onclick="scrollToId('contact', -100)">Contact/jobs</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Automate the cloud</div>
            <div class="intro-heading">
                Scalable solutions
            </div>
            <h3 class="alert alert-info">Expert software & cloud consulting</h3>
            <h3 class="alert alert-green">Custom and leading cloud platforms</h3>
            <a href="#consulting-services" class="page-scroll btn btn-xl"
               onclick="scrollToId('consulting-services', -100)">Learn more</a>
        </div>
    </div>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

