<!-- About Section -->
<section id="roadmap" class="five-padding">
    <div class="container" class="five-padding">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Roadmap</h2>

                <h3 class="section-subheading text-muted">Subject to the whims of our clients!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>14th of April 2015</h4>
                                <h4 class="subheading">Launch</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    At IBM's SoftLayer Sydney datacentre launch, offscale.io was launched.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>May 2015</h4>
                                <h4 class="subheading">Beta release of our hybrid multicloud</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Strategically optimising, this platform will enable scaling across
                                    multiple internal (private) and external (public) providers, enabling:
                                </p>
                                <ul>
                                    <li>Dynamic elastic scaling (fan in/out)</li>
                                    <li>Cost reduction (if policy == lowest-price)</li>
                                    <li>Reduced risk (if redundancy in policy)</li>
                                    <li>Better SLAs (100% uptime IS possible)</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Late 2015</h4>
                                <h4 class="subheading">PaaS</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Docker and git centred deployment supporting various languages and frameworks.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Early 2016</h4>
                                <h4 class="subheading">Big data</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Managed Hadoop, Spark and Cassandra on our hybrid multicloud
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/cloud.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016 and beyond</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    New integrations; increased support for Big Data,
                                    languages &amp; frameworks in PaaS, and databases;
                                    better monitoring; and nicer dashboards
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
