<section id="platform-offerings" class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Platform offering</h2>
            <h3 class="section-subheading text-muted">Open hybrid multiclouds and multiclusters; built for
                automation</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img src="img/multicloud.png" alt="multicloud image">
                </span>
            <h4 class="service-heading">Open hybrid multicloud</h4>
            <p class="text-muted">Over 52 providers supported; AWS, OpenStack &&hellip;</p>
            <p>
                Delivering significant cost saving while offering the flexibility to meet any size server demand.
            </p>
        </div>
        <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </span>
            <h4 class="service-heading">Big data</h4>
            <p class="text-muted">Collect and store petabytes of data; explore data through intuitive customisable
                dashboard interfaces</p>
            <p>Our tailor made big data applications enables users to visualise, query and interpret
                large data sets, through custom built intuitive user interfaces.</p>
        </div>
        <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                </span>
            <h4 class="service-heading">PaaS</h4>
            <p class="text-muted">Better workflows; less people</p>
            <ul>
                <li>On-demand capacity planning</li>
                <li>One-click (`git push`) deploys, rollbacks and canary releases</li>
                <li>Database support</li>
                <li>High Availability (HA)</li>
                <li>Custom DNS server (Mesos DNS, Consul or SkyDNS2)</li>
                <li>Docker</li>
            </ul>
        </div>
    </div>
</section>
